@charset "UTF-8"; 
/* This is a comment! Text here will be ignored by the browser. */
body { font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #0000000;
	color: #F9EBE8;
	border-color: #F9EBE8;
	margin: 0 auto;
	
	
}
.homePage {
	background: #000000;
	border-color: #F9EBE8
	
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #EEEEEE;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #F9EBE8;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #EEEEEE;
	margin: 0px;
	float: left;
	width: 100%;
	height: 400px;
	text-align: center;
}
.footer {
	background: #000000;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
